@page
@model Reolort2Model
@{
    ViewData["Title"] = "Список товаров выбранной аптеки";
    ViewBag.RESTURL = Model.RESTURL;
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<script>
    GURL = '@ViewBag.RESTURL';
</script>