<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.4/css/dx.light.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/alertify/css/alertify.min.css" />
    <link rel="stylesheet" href="~/lib/alertify/css/themes/default.min.css" />

</head>
<body class="dx-viewport">
    <header>
        <nav class="">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Задание 1</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="m-1">
                        <div class="row">
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                        Справочники
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="/Goods">Товары</a></li>
                                        <li><a class="dropdown-item" href="/Pharms">Аптеки</a></li>
                                        <li><a class="dropdown-item" href="/Stores">Скалады</a></li>
                                        <li><a class="dropdown-item" href="/Lots">Партии</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                        Формы
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                        <li><a class="dropdown-item" href="/Reports/Report2">Товары аптеки</a></li>
                                        <li><a class="dropdown-item" href="/Reports/Report1">Партии склада</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/23.1.4/js/dx.all.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/23.1.4/js/localization/dx.messages.de.js"></script>
    <script src="~/lib/alertify/alertify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>