@page
@model LotsModel
@{
    ViewData["Title"] = "Партии товаров";
    ViewBag.RESTURL = Model.RESTURL;
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <div id="listContainer">
    </div>
    <div id="grid"></div>
</div>
<script src="~/js/Lots.js" asp-append-version="true"></script>
<script>
    GURL = '@ViewBag.RESTURL';
</script>
